body {
	text-align: center;
    background-color: #EEF1FE ;
}

h1 {
	position: absolute;
	top: 260px;
	left: 0;
	width: 100%;
	font-size: : 40px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif	
;
	color: #EEF1FE;
}

h1 span {
	color: #EEF1FE; 
   	font: bold 60px Helvetica, Sans-Serif;
   	font-weight: 100; 
   	letter-spacing: -1px;  
   	padding: 10px; 
}

h3 {
	position: absolute;
	top: 325px;
	left: 0;
	width: 100%;
	font-size: : 20px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif	
;
	color: #EEF1FE;
}

h3 span {
	color: #EEF1FE; 
   	font: bold 20px Helvetica, Sans-Serif; 
   	font-weight: 100;
   	letter-spacing: -1px;  
   	padding: 10px; 
}

image {
	position: relative;
	width: 100%;
}