body {
	text-align: center;
    background-color: #EEF1FE ;
}

h1 {
	position: absolute;
	top: 260px;
	left: 0;
	width: 100%;
	font-size: : 40px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif	
;
	color: #EEF1FE;
}

h1 span {
	color: #EEF1FE; 
   	font: bold 60px Helvetica, Sans-Serif;
   	font-weight: 100; 
   	letter-spacing: -1px;  
   	padding: 10px; 
}

h3 {
	position: absolute;
	top: 325px;
	left: 0;
	width: 100%;
	font-size: : 20px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color: #EEF1FE;
}

h3 span {
	color: #EEF1FE; 
   	font: bold 20px Helvetica, Sans-Serif; 
   	font-weight: 100;
   	letter-spacing: -1px;  
   	padding: 10px; 
}

image {
	position: relative;
	width: 100%;
}

#footer {
	padding: 10px;
}

.text {
	margin-right: 250px;
	margin-left: 250px;
	margin-top: 50px;
	margin-bottom: 50px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-weight: bold;
}

p::first-letter { 
    font-size: 250%;
    color: #1B5E73;
}
